<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name = "author" content="Equipo Error 505">
    <meta name = "description"  content="Sistema de Gestión y control de laboratorios de la universidad salesiana de Bolivia">
    <meta meta = "keywords" content = "USB, Bolivia, Universidad, Universidad de Bolivia, Evo Morales">
    <title>Sistema de Laboratorios</title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>

    <main>
        <section>
            <h1>INICIO DE SESIÓN</h1>
            <div class = "box">
                <form class = "form">
                    <div class = "form__box">
                        <input class = "form__item" type="text" name = "name" placeholder="Ingrese su nombre" requerid>
                    </div>

                    <div class="form__box">
                        <input type="text" class="form__item" placeholder = "Ingrese su contraseña" name = "password">
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>